<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="WixExampleProject" Language="1033" Version="1.0.0.0" Manufacturer="Vanessa Wong" UpgradeCode="d1dcbbc9-d4de-4431-ac3a-b91c0d2c7dac">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="WixExampleProject" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="WixExampleInstallerProject" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
         <Component Id="WixWalkthrough.exe" Guid="2CBD2BBC-963F-4AA4-ADA9-151CB868D91C">
           <File Id="WixWalkthrough.exe" Name="WixWalkthrough.exe" Source="$(var.WixWalkthrough.TargetDir)WixWalkthrough.exe"></File>
         </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
